.gradle/
.nb-gradle/
.settings/
build/
eclipse/
.classpath
.nb-gradle-properties
.project
*.launch
*.iml
*.ipr
*.iws
.idea/
!.idea/dictionaries/refinedstorage.xml
!.idea/icon.png
out/
/bin/
logs/
.cache/
